body{
    background-color: #081325;
}

.text{
color: white;
}

.eventsContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.eventsContainer-link{
    height: 400px;
    width: 400px;
    position: relative;
    display: flex;  
    overflow: hidden;
    margin-left: 10%;
}

.eventsContainer-link .link-text,
.eventsContainer-link .link-background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.eventsContainer-link .link-text{
   color: #fff;
   justify-content: center;
   align-items: center; 
   z-index: 2;
   font-weight: bold;
   font-size: 20px;
   text-decoration: underline;
}

.eventsContainer-link .link-background {
    background-position: center center;
    background-size: cover;
    z-index: 1;
    filter: blur(8px);
    transition: ease all 0.1s;

}

.eventsContainer-link:hover .link-background{
    transform: scale(110%);
    filter: blur(2px);


}

