.body {
    background-color: yellow;
    color: blueviolet;
    border-color: blue;
}
h2{
    color: white;
    font-style: italic;
}

.title{
    background-color:#182641 ;
    border: solid #ced4da;
    border-radius: 15px;
    text-align: center;
}