.h1, h1 {
    font-size: 2.5rem;
    color: #fff;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: Arial, Helvetica, sans-serif;
   font-variant: small-caps;
    font-weight:bolder
    
   
   
   
  }
  h2 {
    color: #fff;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    border: #ced4da solid;
    font-weight: bolder;
  }
  body {
    background-image: url(https://img.freepik.com/free-vector/color-seamless-space-pattern_102902-2360.jpg?w=1380&t=st=1668270878~exp=1668271478~hmac=e60d21126f66a2e4ad8fea5ca6f02a0195f0dc7f827485dae152399a136ddc47);
  }
  label{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: #fff;
    font-size: larger;
    font-variant: small-caps;
    font-weight: bolder;
  }
  button {
    font-weight: bolder;
    font-size: larger;
    font-variant: small-caps;
    color: #fff;
    border: #ced4da solid;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%)
    
    
    
    
  }
  fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
  }
  
  .form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
  }
  
  .form--login > fieldset > input[type="email"] {
    width: 25em;
  }
  
  .label--login {
    width: 8rem;
    display: inline-block;
  }
  
  .form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .container--login {
    text-align: center;
  }
  
  .form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
  }
  
  .button--close {
    position: relative;
    bottom: -2rem;
  }